.gcekactivities{
    margin-top: 2rem;
}


.icon i {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 10px #cccccc;
    color: #ffaf5a;
    display: inline-block;
    font-size: 30px;
    height: 100px;
    line-height: 100px;
    position: relative;
    text-align: center;
    width: 100px;
    z-index: 1;
  }

.gcekactivitieslist{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.activitiesitems{
    /* border-right: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233); */
    border: 1px solid rgb(233, 233, 233);
    box-sizing: border-box;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

