
.gceknav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: rgb(255, 255, 255);
  background: rgba(17, 31, 59, 1);
}
.gceknav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

span {
  color: #ffaf5a;
  /* color: rgb(244, 196, 48); */
}
.lokanathspan1{
  color: rgb(4, 173, 4);
}
.lokanathNav{

background: rgba(17, 31, 59, 1);
}

.gcek-logo{
color: aliceblue;
font-weight: 700;
cursor: pointer;
text-decoration: none;
font-size: 22px;
font-family: sans-serif;
}

.gcek-logo:hover
{
color:rgb(229, 229, 229);
}


